$accentColor = #FF66CC
$textColor = #232521

$themePicker = {
	colorName1: #0033FF, // 极浓海蓝
  colorName2: #8B00FF, // 紫罗兰色
  colorName3: #00BFFF, // 深天蓝
	colorName4: #FF8C00 // 暗橙
}

.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action {
  color: #232521!important
}